.add-new-container {
    margin: 68px auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.add-new-form {
    padding: 20px;
    margin: auto;
    width: 100%;
    border: 3px solid rgb(219, 244, 248);
    background: rgba(148, 150, 147, 0.342);
}

.add-new-form form {
    width: 80%;
    margin: 0 auto;
}

label, input {
    display: inline-block;
}

label {
    width: 30%;
    text-align: right;
    color: #fff;
}

label+input {
    width: 30%;
    margin: 0 30% 0 4%;
}

input+input {
    float: right;
}

.swal-wide {
    width: 400px !important;
    height: 120px !important;
    font-size: 10px;
}